{
    "presets": [
        ["@babel/env",
            {
                "targets": {
                    "browsers": ["last 2 chrome versions", "ie 11", "safari 11", "edge 15", "firefox 59"]
                },
                "debug": true
            }
        ]
    ]
}